<div class="container">
  
    <h1 class="display-1">Todo Application
    </h1>


  <div>
    <form>
      <input 
      class="input" 
      type="text" 
      placeholder="  Enter the things to be done"
      name="name"
      [(ngModel)]="name"
      >
       <br>
      <Button class="btn btn-primary" (click)="add(name)"> Add to the List</Button>
    </form>
  </div>

  <div *ngIf="list.length > 0 ">
    <div *ngFor="let a of list; let i = index">
        <div class="add"> {{a}} <span class="delete"><Button class="btn btn-secondary" (click)="remove(i)">&times;</Button></span></div>
    </div>
    
  </div>
</div>